In [17]:
import pandas as pd


DAQUAR_PATH = "../data/daquar/data_train.csv"

daquar_train = pd.read_csv(DAQUAR_PATH)
daquar_train.head()

,question,answer,image_id
0,what is on the right side of the black telepho...,desk,image3
1,what is in front of the white door on the left...,telephone,image3
2,what is on the desk,"book, scissor, papers, tape_dispenser",image3
3,what is the largest brown objects,carton,image3
4,what color is the chair in front of the white ...,red,image3

In [18]:
daquar_train.count()

question    6795
answer      6795
image_id    6795
dtype: int64

In [19]:
multiple_answers = daquar_train[daquar_train["answer"].str.contains(",")]
multiple_answers.head()

,question,answer,image_id
2,what is on the desk,"book, scissor, papers, tape_dispenser",image3
14,what is in front of the white board or in fron...,"table, chair",image5
26,what are on the wall on the left side of the g...,"clock, telephone",image8
72,what are the white objects on the mattress,"blanket, pillow",image73
74,what color is the hat on the top right of the ...,"black, white",image80

In [20]:
multiple_answers.count()

question    646
answer      646
image_id    646
dtype: int64

In [21]:
new_df = daquar_train.iloc[daquar_train.index.repeat(daquar_train["answer"].str.count(",") + 1)]
new_df.head()

,question,answer,image_id
0,what is on the right side of the black telepho...,desk,image3
1,what is in front of the white door on the left...,telephone,image3
2,what is on the desk,"book, scissor, papers, tape_dispenser",image3
2,what is on the desk,"book, scissor, papers, tape_dispenser",image3
2,what is on the desk,"book, scissor, papers, tape_dispenser",image3

In [22]:
split_answer = daquar_train["answer"].str.split(",", expand=True).stack().reset_index(level=1, drop=True).rename("answer")
split_answer

0             desk
1        telephone
2             book
2          scissor
2           papers
           ...
6791        window
6792       cabinet
6793    candelabra
6793          book
6794         chair
Name: answer, Length: 7768, dtype: object

In [25]:
new_df.loc[:, "answer"] = split_answer.str.strip()
new_df.reset_index(drop=True, inplace=True)
new_df.head()

/tmp/ipykernel_27282/1585816665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, "answer"] = split_answer.str.strip()

                                            question     answer image_id
0  what is on the right side of the black telepho...       desk   image3
1  what is in front of the white door on the left...  telephone   image3
2                                what is on the desk       book   image3
3                                what is on the desk    scissor   image3
4                                what is on the desk     papers   image3